     <div id="upsell_prev_styl"></div>
      <div class="upsell--cart upsell__cart-close">
      <div class="upsell__cart-header">
      <span class="crossw" onclick="window.__upsellCart.drawerClose()">X</span>
       <div class="upsell_header">
        <span id="upsell_conti_top"></span>
        <div class="upsell__cart-title"> Your Cart</div>
      </div>
        <div class="upsell__cart-message">
          
        </div>
        <div class="upsell_announctop">
        
        </div>
        <div class="upsell__cart-tiers" id="upsell__cart-tiers">
          <div class="upsell__cart-gifts">
           
          </div>
          <div class="upsell__cart-progress-bar">
            <div class="upsell__cart-bar" id="progressBar" style="width: 0%"></div>
          </div>
          <div class="upsell__cart-progress-hint" id="progressHint"></div>
          <div id="freegifts">
            <p>Free Gifts</p>
            <div class="allrewars"></diV>
          </div>
        </div>
      </div>

      <div class="upsell__cart-content">
        <div class="upsell__cart-cart-items" id="cartItems"></div>
        <div id="giftlayout">
         <p>Free Gifts</p>
         <div class="allrewars"></diV>
        </div>
        <div class="upsell__cart-upsell">
            <div class="upsell__cart-title">INSTANT 20% DISCOUNT</div>
        </div>

        <div class="upsell__cart-item upsell__cart-cart-item">
            <div class="upsell__cart-image"><img src="{{ 'cart-item.png' | asset_img_url }}" alt="" width="auto" height="auto" loading="lazy" /></div>
            <div class="upsell__cart-title-qty">
                <div>
                <strong>The Magic Teeth Whitening Strips®</strong>
                </div>
                <div class="upsell__cart-price">$79.99</div>
            </div>
            <div class="upsell__cart-clear-price"> 
                <div class="upsell__cart-add-btn">
                <button class="addrecomd" onclick="window.__upsellCart.addItem(44679815004436)" vid="44679815004436">Add</button>
                </div>
            </div>
        </div>

        <div class="upsell__cart-item upsell__cart-cart-item">
            <div class="upsell__cart-image">
                <img src="{{ 'cart-item-2.jpg' | asset_img_url }}" alt="" width="auto" height="auto" loading="lazy" />
            </div>
            <div class="upsell__cart-title-qty">
                <div>
                <strong>The Whitening Toothpaste</strong>
                </div>
                <div class="upsell__cart-price">
                <span class="upsell__cart-discount">$49.99</span>&nbsp;<s>$79.99</s>
                </div>
            </div>
            <div class="upsell__cart-clear-price">
                <div class="upsell__cart-add-btn ">
                <button class="addrecomd" onclick="window.__upsellCart.addItem(44679815004436)"  vid="44679815004436" >Add</button>
                </div>
                <div class="upsell__cart-option-btn hidden">
                <button class="addrecomd" onclick="window.__upsellCart.showOptions(44679815004436)">Size</button>
                </div>
            </div>
            <div class="upsell__cart-options-select hidden">
                <select name="" id="">
                <option value="">2-Pack</option>
                <option value="">4-Pack</option>
                <option value="">12-Pack</option>
                </select>
            </div>
        </div>

        <div class="upsell__cart-item upsell__cart-cart-item">
            <div class="upsell__cart-image">
              <img src="{{ 'cart-item-2.jpeg' | asset_img_url }}" alt="" width="auto" height="auto" loading="lazy" />
            </div>
            <div class="upsell__cart-title-qty">
              <div>
                <strong>The Whitening Toothpaste</strong>
              </div>
              <div class="upsell__cart-price">
                <span class="upsell__cart-discount">$49.99</span>&nbsp;<s>$79.99</s>
              </div>
            </div>
            <div class="upsell__cart-clear-price">
              <div class="upsell__cart-add-btn ">
                <button onclick="window.__upsellCart.addItem(44679815004436)" vid="44679815004436">Add</button>
              </div>
              <div class="upsell__cart-option-btn hidden">
                <button class="addrecomd" onclick="window.__upsellCart.showOptions(44679815004436)" >Size</button>
              </div>
            </div>
            <div class="upsell__cart-options-select hidden">
              <select name="" id="">
                <option value="">2-Pack</option>
                <option value="">4-Pack</option>
                <option value="">12-Pack</option>
              </select>
            </div>
        </div>

        <div class="upsell__cart-upsell2 "  id="upsell__cart-upsell2_idd">
          <div class="upsell__cart-title">You may also like</div>

          <div class="upsell__cart-upsell2-container" id="upsell__cart-upsell2-container">

          </div>
            <button class="upsell_crausalbtn" onclick="prevSlide(this)" id="prev" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/> </svg></button>
            <button class="upsell_crausalbtn" onclick="nextSlide(this)" id="next" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/> </svg></button>
        </div>
        <div id="newwidget" class="upsell2"></div>

        <div class="upsel_disc_inp1"></div>
        <div class="upsell_note_input1"></div>
        
        <div id="viewcart">
        
        </div>
         <div id="upsell_continueshop">
        
        </div>
        <div id="continueshop">
        
        </div> 
      </div>
<div id="ccnntt">
      <div class="upsell__cart-footer">
       <div class="upsell_disc_input"></div>
       <div class="upsell_note_input2"></div>
        <div class="upsell__cart-subtotal subtotal">
          <div id="subtotalItems" class="upsell__cart-subtotal-items subtotal-items"></div>
          <div id="subtotalPrice"></div>
        </div>
        <div id="afterpayTop" class="afterpay"></div>
        <div class="upsell__cart-checkout">
          <button class="btn-secondary" id="viewCartButton">View Cart</button>
          <button class="btn-primary" id="chkoutbtn"></button>
        </div>
        <div id="afterpayBottom" class="afterpay"></div>
      </div>
    </div>
<style>
:root {
    --font-family: "Nunito", sans-serif;
    --black: #000;
    --white: #fff;
    --grey: #9a9a9a;
    --dark-grey: #333;
    --darker-grey: #e9e9e9;
    --light-grey: #e3e3e3;
    --lighten-grey: #fafafa;
    --red: #d53600;
    --blue: #00456c; 
}
button.btn-primary {
  width: 100%;
  height: 42px;
  line-height: 36px;
  color: var(--white);
  border-radius: 6px;
  border: none;
  margin: 7px 0 0;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
</style>
<script>

window.noimg = "{{ 'no-image.png' | asset_img_url }}";
window.UpsellCart = {{ app.metafields.settings.cart }};
window.UpsellWidget = {{ app.metafields.settings.widget }};
window.money =  "{{ cart.currency.symbol }}";
window.upsell_shop_domain= "{{shop.permanent_domain}}";



</script> 
<script src="https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js"></script>

{% schema %}
  {
    "name": "Upsell Cart",
    "stylesheet": "style.css",
    "javascript": "script.js",
    "target": "body",
    "settings": []
  }
{% endschema %}
